.divStyle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-height: 150px;
    max-height: 30vh;
    background-color: #F23557;
    border-radius: 20px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    position: relative;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.h2Style {
    color: #FDF6F6;
    font-size: 1.2em;
    overflow-wrap: break-word;
    text-align: center;
}

.description-container {
    width:80%;
}

.pStyle {
    color: #FDF6F6;
    text-align: left;
    font-size: 0.7em;
    overflow-wrap: break-word;
}

.dateStyle {
    color: #FDF6F6;
    opacity: 0.8;
    font-size: 0.5em;
    text-align: left;
}

.aStyle {
    text-decoration:none;
    color:#F0D43A;
    font-weight: 600;
    font-size: 0.9em; 
    position: absolute;
    right: 20px;
    top: 80%;
}