.divStyle {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    min-height: 100px;
    background-color: #f8bbd0;
    border-radius: 20px;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
}

.h2Style {
    color: #212121;
    font-size: 1.2em;
    overflow-wrap: break-word;
    text-align: center;
}

.description-container {
    width:80%;
    max-height: 300px;
}

.description{
    display: block;
    display: -webkit-box;
    height: 100%;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}   

.pStyle {
    color: #212121;
    text-align: left;
    font-size: 0.7em;
    overflow-wrap: break-word;
}

.dateStyle {
    color: #212121;
    opacity: 0.8;
    font-size: 0.5em;
    text-align: left;
}

.aStyle {
    text-decoration:none;
    color:#e91e63;
    font-weight: 600;
    font-size: 0.9em;
    text-align: right;
}

.topics-container {
    margin: 1em auto 0 auto;
    width: 90%;
    background-color: #fce4ec;
    padding: 0.5em;
    border-radius: 5px;
}

.topic-container {
    width: 100%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
}

.pTopic {
    color: #212121;
    text-align: left;
    font-size: 0.7em;
    overflow-wrap: break-word;
}